:root {
  --primary: #1b60a5;
  --dark-primary: #052b4f;
  --darker-primary: #001b33;
  --banner-height: 600px;
  --dark-neutral: #121212;
  --sky-color: #7ea6d7;
}

html {
  background-color: var(--sky-color);
  scrollbar-color: var(--sky-color) var(--dark-primary);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Maven Pro', sans-serif;
  color: white;
  overflow: hidden;
  max-width: 100%;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: var(--darker-primary);
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 999px;
  border-radius: 999px;
  border: 3px solid var(--darker-primary);
  background: var(--sky-color);
}

h1,
h2 {
  font-family: 'Maven Pro', sans-serif;
}

h2 {
  font-weight: 400;
}

p {
  line-height: 1.6;
}

a {
  text-decoration: underline;
  color: white;
  text-decoration-color: var(--primary);
  text-decoration-thickness: 3px;
}

a:hover:not(.banner) {
  color: var(--primary);
}

a.banner {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

figure {
  margin: 0;
}
