html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Maven Pro', sans-serif;
  color: white;
  overflow: hidden;
  max-width: 100%;
}

h1,
h2 {
  font-family: 'Maven Pro', sans-serif;
}

h2 {
  font-weight: 400;
}

p {
  line-height: 1.6;
}

a.banner {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

figure {
  margin: 0;
}

code {
  background-color: #1e293b;
  border: solid #64748b 1px;
  padding: 3px;
  border-radius: 2px;
  font-size: 0.9em;
}

pre code {
  border: none;
}

.autolink-header {
  height: 25px;
  text-decoration: none;
  vertical-align: middle;
}

.autolink-icon {
  visibility: hidden;
  color: #1b60a5;
  margin-left: 0.5rem;
  font-size: 1.8em;
}

h3:hover .autolink-icon {
  visibility: visible;
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.blog-post {
  min-height: 500px;
}

.blog-post figure {
  font-size: 0.8em;
}

.blog-post h3 {
  margin-top: 4rem;
  margin-bottom: 1.25rem;
}
