html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

h1,
h2 {
  font-family: 'Radio Canada';
}

h2 {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #3b82f6;
}

a:hover {
  color: #1d4ed8;
}

* {
  box-sizing: border-box;
}
